.navigation {
  background-color: grey;
  color: #e5e5e5;
  display: flex;
  height: 68px;
  align-items: center;
}

.logo {
  height: fit-content;
  max-width: 92px;
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navigationItem {
  margin-left: 1rem;
  font-size: 0.8rem;
}
