.sidebar {
  flex: 1;
  border-right: 0.5px solid grey;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 40px;

    .dot {
      background-color: grey;
      width: 5px;
      height: 5px;
      margin: 8px;
      border-radius: 50%;
    }

    .first-row {
      display: flex;
      flex-direction: row;
    }

    .second-row {
      display: flex;
      flex-direction: row;
    }
  }

  .bottom {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding-left: 50px;
        padding-bottom: 30px;

        .icon {
          padding-right: 10px;
          color: grey;
        }

        .title {
          color: grey;
        }
      }
    }
  }

  .space {
    height: 100px;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .avatarBox {
      padding-top: 6px;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom: 1px;
      border-radius: 30%;
      border: 0.5px solid grey;
      position: relative;

      .notificationCircle {
        width: 13px;
        height: 13px;
        border: 2px solid white;
        background-color: rgb(101, 167, 101);
        border-radius: 50%;
        position: absolute;
        bottom: -4px;
        right: -4px;
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 30%;
        object-fit: cover;
      }
    }
    .name {
      padding-top: 13px;
      letter-spacing: 0.3px;
      font-weight: bold;
      font-size: 14px;
      padding-bottom: 40px;
    }
  }
}
